---
import { changeLanguage } from "i18next";
import Section from "../../../components/Section.astro";
import Layout from "../../../layouts/Layout.astro";
import { Icon } from "astro-icon";

changeLanguage("zh");

const blogs = await Astro.glob("./*.mdx");
---

<Layout title="Blogs">
  <Section sectionTitle={"Blogs"}>
    {
      blogs.length ? (
        <ul class="grid md:grid-cols-2 gap-4 px-8">
          {blogs.map((blog) => {
            const { title, author, tags, date, excerpt, author_image, image } =
              blog.frontmatter;
            return (
              <li class="border rounded-sm overflow-hidden md:aspect-w-2 md:aspect-h-1">
                <div class="grid md:grid-cols-5">
                  <div class="h-32 md:h-full md:col-span-2">
                    <img
                      class="w-full h-full object-cover"
                      src={image ?? "/images/no-image.png"}
                    />
                  </div>
                  <div class="h-full p-4 flex flex-col md:col-span-3">
                    <a
                      href={blog.url}
                      class="text-xl leading-[0.3rem] font-bold hover:text-neutral-600 max-w-max md:leading-3"
                    >
                      {title}
                    </a>
                    <p class="text-neutral-500 text-sm py-2 overflow-hidden flex-1">
                      {excerpt} Lorem ipsum dolor sit amet, consectetur
                      adipisicing elit.
                    </p>
                    <div class="mt-auto flex items-center gap-2">
                      <div class="w-14 rounded-full aspect-square border overflow-hidden">
                        {author_image ? (
                          <img
                            class="w-full h-full object-cover"
                            src="?"
                            alt="author"
                          />
                        ) : (
                          <Icon name="mdi:user" />
                        )}
                      </div>
                      <div class="text-xs w-full">
                        <p class="font-medium">{author ?? "Anonymous"}</p>
                        <p class="text-neutral-500">
                          <span class="text-neutral-600 font-medium">
                            Date:
                          </span>{" "}
                          {date ?? "No Date"}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            );
          })}
        </ul>
      ) : (
        <div>No blogs yet!</div>
      )
    }
  </Section>
</Layout>

<style is:global>
  [astro-icon="mdi:user"] {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
</style>
