---
import { utilRemoveSpaces } from "../../helpers/commonUtils";

interface Props {
  sectionTitle?: string;
}

const { sectionTitle } = Astro.props as Props;
---

<section
  id={sectionTitle ? utilRemoveSpaces(sectionTitle) : ""}
  class="py-2 md:py-8"
>
  <div class="container mx-auto lg:px-8">
    {
      sectionTitle ? (
        <div class="flex items-center space-x-4 px-8 mb-8">
          <div class="rounded-full h-1 bg-[#6750A4] w-8 md:w-12 lg:w-16" />
          <h2 class="text-2xl capitalize md:text-3xl">{sectionTitle}</h2>
        </div>
      ) : null
    }
    <div>
      <slot />
    </div>
  </div>
</section>
