---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

const positions = [
  "java developer",
  "web developer",
  "backend engineer",
  "designer",
];
---

<Layout title="Welcome to Astro.">
  <Section sectionTitle="Outsourcing">
    <ul class="flex gap-8">
      {
        positions.map((position) => {
          return (
            <li class="max-w-xs text-center flex-1">
              <div class="relative">
                <div class="h-8 w-1 bg-black absolute rounded-full bottom-1/4" />
                <h4 class="text-xl capitalize">{position}</h4>
              </div>
              <div class="mt-2 aspect-[8/10] rounded-xl bg-black" />
            </li>
          );
        })
      }
    </ul>
  </Section>
</Layout>
