---
import Layout from "../layouts/Layout.astro";
import Section from "../components/widgets/Section.astro";
import { Img, Picture } from "astro-imagetools/components";
import OutSourcing from "../components/home/OutSourcing.svelte";
import AboutUs from "../components/home/AboutUs.svelte";

const positions = [
  "java developer",
  "web developer",
  "backend engineer",
  "designer",
];
---

<Layout title="ChatChatABC">
  <!-- Hero Section -->
  <Section>
    <div class="relative">
      <!-- Background image -->
      <div
        class="absolute -z-10 left-0 top-0 w-full h-full overflow-hidden rounded-xl"
      >
        <Img src="/images/hero-bg.png" alt="" />
      </div>

      <!-- Content -->
      <div class="relative grid grid-cols-4">
        <div class="col-span-1 flex items-center">
          <div class="pl-[30%] font-bold text-2xl">
            <p>Your Idea</p>
            <p>We Design</p>
            <p>We Develop</p>
          </div>
        </div>
        <div
          class="col-span-3 flex flex-col gap-8 justify-center items-center p-8 font-medium"
        >
          <!-- Top -->
          <div class="flex gap-12 justify-center w-full -z-10">
            <div
              class="shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-gray-400"
            >
              <div
                class="text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                Java Developer
              </div>
            </div>
            <div
              class="shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-[#EADDFF]"
            >
              <div
                class="text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                Web Developer
              </div>
            </div>
          </div>

          <!-- Middle -->
          <div class="w-max text-lg px-8 py-2 rounded-xl border bg-[#F9DEDC]">
            we focus on
          </div>

          <!-- Bottom -->
          <div class="-ml-8 flex gap-16 justify-center w-full -z-10">
            <div
              class="shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-[#EADDFF]"
            >
              <div
                class="text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                Backend Engineer
              </div>
            </div>
            <div
              class="shadow-2xl shadow-gray-500 w-56 h-36 rounded-3xl flex justify-center items-center border rotate-[30deg] bg-gray-400"
            >
              <div
                class="text-lg bg-white px-4 rounded-xl py-2 w-32 -rotate-[30deg]"
              >
                Designer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Section>

  <!-- Outsourcing Section -->
  <Section sectionTitle="outsourcing">
    <OutSourcing client:load />
  </Section>

  <!-- Software Development Section -->
  <Section sectionTitle="software-development">
    <div class="grid lg:grid-cols-2">
      <div class="hidden items-center w-full lg:flex">
        <div class="h-[60%] mx-8 w-full rounded-t-3xl bg-[#9A82DB] shadow-xl">
        </div>
      </div>
      <Picture
        src="/images/tech-stack.png"
        alt="tech stack"
        layout="constrained"
      />
    </div>
  </Section>

  <!-- About Us Section -->
  <Section sectionTitle="about-us">
    <AboutUs client:visible />
  </Section>
</Layout>

<!-- Always use is:global to prevent astro using .where() selector. -->
<style is:global>
  html {
    scroll-behavior: smooth;
  }
  .hero-position {
    transform: rotateX(60deg) rotateZ(325deg);
  }
  @media (min-width: 1024px) {
    .hero-position:hover {
      transform: rotateX(0deg) rotateZ(30deg);
      scale: 80%;
      z-index: 1;
    }
  }

  .outsourcing-cards-hide {
    background-color: aqua;
    opacity: 0;
    display: none;
    pointer-events: none;
  }
</style>
