---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

const positions = [
  "java developer",
  "web developer",
  "backend engineer",
  "designer",
];
---

<Layout title="ChatChatABC">
  <!-- Hero Section -->
  <Section>
    <div class="relative grid grid-cols-2">
      <!-- Background -->
      <div class="absolute top-0 left-0 h-full w-full scale-125">
        <img src="/images/tailwind.png" class="h-full w-full object-contain" />
      </div>

      <!-- Left Side -->
      <ul
        class="relative flex flex-col-reverse justify-center items-center gap-2 -rotate-[30deg] scale-105"
      >
        {
          positions.reverse().map((position) => {
            return (
              <li class="bg-[#6750A4] py-8 -mt-28 duration-1000 text-white shadow-2xl flex h-48 items-end w-1/2 rounded-3xl border-2 text-4xl border-white p-4 capitalize hero-position">
                {position}
              </li>
            );
          })
        }
      </ul>

      <!-- Right Sides -->
      <div class="relative flex flex-col gap-16 w-full justify-between">
        <div class="flex w-full justify-around">
          <img
            src="/images/astro.png"
            class="min-w-[100px] w-[20%] aspect-square object-cover"
          />
          <img
            src="/images/kotlin.png"
            class="min-w-[100px] w-[20%] aspect-square object-cover"
          />
          <img
            src="/images/java.png"
            class="min-w-[100px] w-[20%] aspect-square object-cover"
          />
        </div>
        <h2 class="text-5xl text-[#6750A4]">
          "It's not about ideas, It's about making ideas happen!"
        </h2>
        <div class="flex w-full justify-around">
          <img
            src="/images/ts.png"
            class="min-w-[100px] w-[20%] aspect-square object-cover"
          />
          <img
            src="/images/js.png"
            class="min-w-[100px] w-[20%] aspect-square object-cover"
          />
          <img
            src="/images/rust.png"
            class="min-w-[100px] w-[20%] aspect-square object-cover"
          />
        </div>
      </div>
    </div>
  </Section>

  <!-- Outsourcing Section -->
  <Section sectionTitle="outsourcing">
    <div>
      <ul class="flex gap-8 px-16 relative">
        {
          positions.map((position, index) => {
            return (
              <li class="text-center flex-1 outsourcing-cards duration-500">
                <div class="relative">
                  <div class="h-8 w-1 bg-[#6750A4] absolute rounded-full bottom-1/4" />
                  <h4 class="text-xl capitalize">{position}</h4>
                </div>
                <div class="mt-2 h-72 rounded-xl bg-[#9A82DB] flex flex-col group overflow-hidden">
                  <div class="w-24 h-24 mx-auto mt-2 border rounded-full overflow-hidden">
                    <img
                      src="?"
                      class="w-full h-full object-cover"
                      alt={position}
                    />
                  </div>
                  <p class="text-left px-4 py-2">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Inventore repudiandae similique porro aut.
                  </p>
                  <button
                    class="bg-gradient-to-b from-transparent py-4 to-[#6750A4] mt-auto duration-1000 lg:opacity-0 group-hover:opacity-100"
                    onclick={`OpenOutsourceCard(${index})`}
                  >
                    Show more
                  </button>
                </div>
              </li>
            );
          })
        }
      </ul>
    </div>
  </Section>

  <!-- Software Development Section -->
  <Section sectionTitle="software-development">
    <div class="grid grid-cols-2">
      <div class="flex items-center w-full">
        <div class="h-[60%] mx-8 w-full rounded-t-3xl bg-[#9A82DB]"></div>
      </div>
      <img
        src="/images/tech-stack.png"
        alt="tech stack"
        class="w-full h-full object-contain"
      />
    </div>
  </Section>

  <!-- About Us Section -->
  <Section sectionTitle="about-us">
    <ul
      class="px-2 relative flex flex-col [&>*:hover]:delay-75 [&>*]:duration-500 [&>*:hover]:scale-105 [&>*:hover]:z-10"
    >
      <li
        class="w-[35vw] rounded-t-[4rem] rounded-b-xl bg-[#c4b8e6] border-2 p-12"
      >
        <h4 class="text-4xl pb-2">Priority</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
          voluptatum delectus doloremque nesciunt optio, nobis neque perferendis
          aliquam dignissimos dolores voluptate provident! Facilis alias ad
          dolorem nisi velit dicta eum.
        </p>
      </li>
      <li
        class="w-[35vw] rounded-t-[4rem] rounded-b-xl bg-[#c4b8e6] border-2 p-12 -mt-44 mx-auto"
      >
        <h4 class="text-4xl pb-2">Priority</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
          voluptatum delectus doloremque nesciunt optio, nobis neque perferendis
          aliquam dignissimos dolores voluptate provident! Facilis alias ad
          dolorem nisi velit dicta eum.
        </p>
      </li>
      <li
        class="w-[35vw] rounded-t-[4rem] rounded-b-xl bg-[#c4b8e6] border-2 p-12 -mt-44 ml-auto"
      >
        <h4 class="text-4xl pb-2">Priority</h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit
          voluptatum delectus doloremque nesciunt optio, nobis neque perferendis
          aliquam dignissimos dolores voluptate provident! Facilis alias ad
          dolorem nisi velit dicta eum.
        </p>
      </li>
    </ul>
  </Section>
</Layout>

<!-- Always use is:global to prevent astro using .where() selector. -->
<style is:global>
  html {
    scroll-behavior: smooth;
  }

  .hero-position {
    transform: rotateX(60deg) rotateZ(325deg);
  }
  .hero-position:hover {
    transform: rotateX(0deg) rotateZ(30deg);
    scale: 80%;
    z-index: 1;
  }

  .outsourcing-cards-hide {
    background-color: aqua;
    opacity: 0;
    display: none;
    pointer-events: none;
  }
</style>

<script lang="ts">
  function OpenOutsourceCard(cardIndex) {
    const cards = document.getElementsByClassName("outsourcing-cards");
    for (var index = 0; index < cards.length; index++) {
      if (index !== cardIndex)
        cards[index].classList.add("outsourcing-cards-hide");
      else cards[index].classList.add("outsourcing-cards-show");
    }
  }
</script>
