---
import { Icon } from "astro-icon";
---

<footer>
  <div class="border-y-2 py-16">
    <div class="container mx-auto grid grid-cols-3">
      <div class="flex flex-col gap-8 items-center">
        <img src="/images/ChatChat.png" class="w-52 object-contain" />
        <div>
          <ul class="flex gap-4">
            <li>
              <Icon name="ic:baseline-facebook" />
            </li>
            <li>
              <Icon name="ph:instagram-logo-fill" />
            </li>
            <li>
              <Icon name="mdi:telephone" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-span-2 grid grid-cols-3 text-[#6750A4]">
        <ul class="flex flex-col gap-4">
          <li>
            <a>Service</a>
          </li>
          <li>
            <a>Outsourcing</a>
          </li>
          <li>
            <a>Software Development</a>
          </li>
        </ul>
        <ul class="flex flex-col gap-4">
          <li>
            <a>We're Hiring</a>
          </li>
          <li>
            <a>davao.jobs.page</a>
          </li>
        </ul>
        <ul class="flex flex-col gap-4">
          <li>
            <a>Contact Us</a>
          </li>
          <li>
            <a>Tel: 09123456789</a>
          </li>
          <li>
            <a>Email: ChatChatABC@gmail.com</a>
          </li>
          <li>
            <a>Address: aiujsa diad amam doiam admomd s</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center py-1 text-[#6750A4]">Copyright by ChatChatABC (2023)</p>
</footer>

<style is:global>
  [astro-icon] {
    height: 3rem;
    width: 3rem;
  }
</style>
