---
import { Icon } from "astro-icon";
import { Picture } from "astro-imagetools/components";
---

<footer>
  <div class="border-y-2 py-4 text-sm md:text-base lg:py-16">
    <div class="container mx-auto grid lg:grid-cols-3">
      <div
        class="flex flex-col gap-4 items-center w-screen py-4 lg:gap-8 lg:w-[unset]"
      >
        <div class="w-52 object-contain">
          <Picture src="/images/ChatChat.png" alt="logo" />
        </div>
        <div>
          <ul class="flex gap-4">
            <li>
              <Icon name="ic:baseline-facebook" />
            </li>
            <li>
              <Icon name="ph:instagram-logo-fill" />
            </li>
            <li>
              <Icon name="mdi:telephone" />
            </li>
          </ul>
        </div>
      </div>
      <div class="px-4 col-span-2 grid gap-y-8 text-[#6750A4] md:grid-cols-3">
        <ul class="flex flex-col md:gap-4">
          <li>
            <a>Service</a>
          </li>
          <li>
            <a>Outsourcing</a>
          </li>
          <li>
            <a>Software Development</a>
          </li>
        </ul>
        <ul class="flex flex-col md:gap-4">
          <li>
            <a>We're Hiring</a>
          </li>
          <li>
            <a>davao.jobs.page</a>
          </li>
        </ul>
        <ul class="flex flex-col md:gap-4">
          <li>
            <a>Contact Us</a>
          </li>
          <li>
            <a>Tel: 09123456789</a>
          </li>
          <li>
            <a>Email: ChatChatABC@gmail.com</a>
          </li>
          <li>
            <a>Address: aiujsa diad amam doiam admomd s</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center py-1 text-xs text-[#6750A4] md:text-base">Copyright by ChatChatABC (2023)</p>
</footer>

<style is:global>
  [astro-icon] {
    height: 2rem;
    width: 2rem;
  }

  @media (min-width: 768px) {
    [astro-icon] {
      height: 3rem;
      width: 3rem;
    }
  }
</style>
