<footer>
  <div class="border-y-2 py-16">
    <div class="container mx-auto grid grid-cols-3">
      <div class="flex flex-col gap-4 items-center">
        <img src="/images/ChatChat.png" class="w-40 object-contain" />
        <div>
          <ul class="flex gap-4">
            <li>icon</li>
            <li>icon</li>
            <li>icon</li>
          </ul>
        </div>
      </div>
      <div class="col-span-2 grid grid-cols-3">
        <ul>
          <li>Test</li>
          <li>Test</li>
          <li>Test</li>
        </ul>
        <ul>
          <li>Test</li>
          <li>Test</li>
        </ul>
        <ul>
          <li>Test</li>
          <li>Test</li>
          <li>Test</li>
          <li>Test</li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center py-1">Copyright by ChatChatABC (2023)</p>
</footer>
