---
import { Picture } from "astro-imagetools/components";
---

<div
  id="modal-bg"
  class="hidden fixed top-0 left-0 w-screen h-screen justify-center bg-neutral-700 bg-opacity-50 items-center z-10"
>
  <div class="border w-full max-w-lg bg-white rounded-xl overflow-hidden">
    <div class="py-2 px-4 flex justify-between">
      <p class="text-2xl">Contact Us</p>
    </div>
    <div class="flex flex-col px-8 py-2 pb-4 gap-8">
      <div class="w-1/2 max-w-[200px] mx-auto">
        <Picture src="/images/ChatChat.png" alt="logo" />
      </div>
      <ul class="text-lg">
        <li><span class="font-medium">Phone:</span> 0912348</li>
        <li><span class="font-medium">Email:</span> chatchatabc@gmail.com</li>
        <li>
          <span class="font-medium">Address:</span> asdomkl asdoidas m oiasdmaoid
          mad
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
  function toggleModal() {
    const modalBackground = document.getElementById("modal-bg");
    if (modalBackground) {
      modalBackground.classList.toggle("hidden");
      modalBackground.classList.toggle("flex");
    }
  }
  const openButton = document.getElementById("modal-open-btn");
  if (openButton) openButton.addEventListener("click", toggleModal);
  const modalBackground = document.getElementById("modal-bg");
  if (modalBackground) modalBackground.addEventListener("click", toggleModal);
  const closeButton = document.getElementById("modal-close-btn");
  if (closeButton) closeButton.addEventListener("click", toggleModal);
</script>
