<div
  id="modal-bg"
  class="hidden fixed top-0 left-0 w-screen h-screen justify-center bg-neutral-700 bg-opacity-50 items-center z-10"
>
  <div class="max-w-2xl w-full px-2 mx-auto">
    <slot />
  </div>
</div>

<script>
  function toggleModal() {
    const modalBackground = document.getElementById("modal-bg");
    if (modalBackground) {
      modalBackground.classList.toggle("hidden");
      modalBackground.classList.toggle("flex");
    }
  }
  const openButton = document.getElementById("modal-open-btn");
  if (openButton) openButton.addEventListener("click", toggleModal);
  const modalBackground = document.getElementById("modal-bg");
  if (modalBackground) modalBackground.addEventListener("click", toggleModal);
  const closeButton = document.getElementById("modal-close-btn");
  if (closeButton) closeButton.addEventListener("click", toggleModal);
</script>
