---
import { Picture } from "astro-imagetools/components";
import Modal from "./Modal.astro";
import ContactUs from "./ContactUs.astro";

const navItems = [
  { url: "/#outsourcing", name: "outsourcing" },
  { url: "/#software-development", name: "software development" },
  { url: "/#about-us", name: "about us" },
  { url: "/blogs", name: "blogs" },
];
---

<>
  <!-- Modal -->
  <Modal>
    <ContactUs />
  </Modal>

  <!-- Navbar -->
  <header class="p-2">
    <nav
      class="container mx-auto flex flex-wrap justify-between items-center md:flex-nowrap md:gap-8 md:justify-around lg:px-8"
    >
      <a href="/">
        <div class="object-contain w-32 lg:w-52">
          <Picture src="/images/ChatChat.png" layout="fill" alt="test" />
        </div>
      </a>
      <button id="nav-menu-btn" class="md:hidden md:pointer-events-none"
        >Menu</button
      >
      <ul
        id="nav"
        class="max-h-screen py-1 hide-nav flex flex-col w-full text-purple-700 font-medium ml-auto text-xs duration-500 md:justify-end md:py-0 md:duration-[0s] md:flex-row md:gap-2 lg:text-base"
      >
        {
          navItems.map((item) => {
            return (
              <li>
                <a
                  href={item.url}
                  class="border-[#79747E] text-[#6750A4] capitalize block px-1 py-2 md:border-2 md:rounded-full md:px-4 hover:bg-[#6750A414]"
                >
                  {item.name}
                </a>
              </li>
            );
          })
        }
        <li>
          <button
            id="modal-open-btn"
            class="w-full bg-[#E8DEF8] capitalize block px-1 py-2 md:rounded-full md:px-4 md:ml-8 md:w-max hover:bg-[#e8d3f899]"
          >
            contact us
          </button>
        </li>
      </ul>
    </nav>
  </header>
</>

<style is:global>
  .hide-nav {
    max-height: 0px;
    opacity: 0;
    pointer-events: none;
  }
  @media (min-width: 768px) {
    .hide-nav {
      max-height: 1000px;
      opacity: 1;
      pointer-events: auto;
    }
  }
</style>

<script>
  const nav = document.getElementById("nav");
  const openMenu = document.getElementById("nav-menu-btn");
  if (openMenu)
    openMenu.addEventListener("click", () => {
      if (nav) nav.classList.toggle("hide-nav");
    });
</script>
