---
const navItems = [
  { url: "#outsourcing", name: "outsourcing" },
  { url: "#software-development", name: "software development" },
  { url: "#about-us", name: "about us" },
  { url: "/blogs", name: "blogs" },
];
---

<header class="p-2">
  <nav class="container mx-auto flex justify-around gap-8 items-center lg:px-8">
    <a href="/">
      <img src="/images/ChatChat.png" class="w-52 object-contain" />
    </a>
    <ul class="flex gap-2 text-purple-700 font-medium ml-auto">
      {
        navItems.map((item) => {
          return (
            <li>
              <a
                href={item.url}
                class="border-2 border-[#79747E] text-[#6750A4] rounded-full capitalize block px-4 py-2 hover:bg-[#6750A414]"
              >
                {item.name}
              </a>
            </li>
          );
        })
      }
    </ul>
    <button
      class="bg-[#E8DEF8] rounded-full capitalize block px-4 py-2 hover:bg-[#e8d3f899]"
    >
      contact us
    </button>
  </nav>
</header>
