---
const navItems = ["outsourcing", "software development", "about us"];
---

<header class="p-2">
  <nav class="container mx-auto flex justify-around gap-8 items-center">
    <img src="/images/ChatChat.png" class="w-52 object-contain" />
    <ul class="flex gap-2 text-purple-700 font-medium ml-auto">
      {
        navItems.map((item) => {
          return (
            <li>
              <a class="border-2 border-gray-500 text-[#6750A4] rounded-full capitalize block px-4 py-2">
                {item}
              </a>
            </li>
          );
        })
      }
    </ul>
    <a
      class="bg-[#E8DEF8] text-[#7D5260] rounded-full capitalize block px-4 py-2"
    >
      contact us
    </a>
  </nav>
</header>
