---
interface Props {
  sectionTitle: string;
}

const { sectionTitle } = Astro.props as Props;
---

<section id={sectionTitle} class="py-8">
  <div class="container mx-auto">
    {
      sectionTitle ? (
        <div class="flex items-center gap-4">
          <div class="rounded-full h-1 bg-black w-24" />
          <h2 class="text-3xl">{sectionTitle}</h2>
        </div>
      ) : null
    }
    <div class="p-8">
      <slot />
    </div>
  </div>
</section>
